.navbar-ui {
  position: sticky;
  display: flex;
  flex-direction: row;
  width: 96%;
  height: 60px;
  padding: 0% 2% 0px 2%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  top: 0;
  background-color: white;

  &__start {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__menu {
      margin-right: 0.5rem;
      cursor: pointer;
      padding: 1rem 1rem 1rem 0rem;
      font-size: 20px;
    }

    &__back {
      margin-right: 3.9px;
      width: 2.5rem;
    }

    &__title-company {
      display: flex;
      flex-direction: row;
      font-weight: bold;
      font-size: xx-large;
      align-items: center;

      &__initial {
        color: var(--primary-main);
      }
    }
  }

  &__center {
    display: flex;
    flex-direction: row;

    &__menu {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      font-size: 15px;
      &__item {
        cursor: pointer;
        padding: 1rem;
        transition: background-color 0.3s ease, color 0.3s ease,
          border-radius 0.3s ease;

        &:hover {
          background-color: var(--primary-main);
          border-radius: 0.3rem;
          color: white;
        }

        &--selected {
          cursor: pointer;
          padding: 1rem;
          background-color: var(--primary-main);
          border-radius: 0.3rem;
          color: white;
        }
      }
    }
  }

  &__end {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    &__badge {
      margin-right: 1rem;
      cursor: pointer;
    }

    &__data {
      font-size: 11px;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 800px) {
  .navbar-ui {
    width: 92%;
    padding: 0% 4% 0px 4%;

    &__center {
      display: none;
    }
  }
}

@media screen and (max-width: 430px) {
  .navbar-ui {
    width: 92%;
    padding: 0% 4% 0px 4%;

    &__start {
      &__menu {
        margin-right: 0;
      }
      &__back {
        margin-right: 2.9px;
      }
    }

    &__end {
      &__language {
        display: none;
      }
      &__getinto {
        height: 2.7rem;
      }
      &__data {
        display: none;
      }
    }
  }
}
