.home-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 242px);

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 69vh;

    &__title {
      display: flex;
      flex-direction: row;
      width: 96%;
      justify-content: center;
      font-weight: bold;
      font-size: xx-large;
      margin-top: 2rem;
      animation: fadeInUp 1s ease-in-out;
      text-align: center;
      padding: 0% 2% 0% 2%;
      margin-bottom: 4rem;
    }

    &__create {
      width: 90%;
      padding: 0% 5% 0% 5%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10rem;
      justify-content: center;

      &__img {
        width: 40%;
      }

      &__button {
        width: 12rem;
        font-size: 20px;
        height: 4rem;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .home-view {
    &__body {
      &__create {
        &__img {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .home-view {
    height: auto;
    &__body {
      justify-content: space-between;
      height: 60vh;
      &__title {
        font-size: x-large;
        width: 96%;
        padding: 0% 2% 0% 2%;
        font-size: 22px;
      }

      &__create {
        margin-bottom: 12rem;

        &__button {
          width: 11rem;
          font-size: 18px;
          height: 3rem;
        }
      }
    }
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
