.home-view {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  &__navbar {
    display: flex;
    flex-direction: row;
    width: 96%;
    height: 60px;
    padding: 0% 2% 0px 2%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);

    &__start {
      display: flex;
      flex-direction: row;
      &__menu {
        margin-right: 0.5rem;
        cursor: pointer;
        padding: 1rem 1rem 1rem 0rem;
      }

      &__title-company {
        display: flex;
        flex-direction: row;
        font-weight: bold;
        font-size: x-large;
        align-items: center;

        &__initial {
          color: var(--primary-main);
        }
      }
    }

    &__center {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      font-size: 15px;

      &__item {
        cursor: pointer;
        padding: 1rem;
        transition: background-color 0.3s ease, color 0.3s ease,
          border-radius 0.3s ease;

        &:hover {
          background-color: var(--primary-main);
          border-radius: 0.3rem;
          color: white;
        }

        &--selected {
          cursor: pointer;
          padding: 1rem;
          background-color: var(--primary-main);
          border-radius: 0.3rem;
          color: white;
        }
      }
    }

    &__end {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;

      &__badge {
        margin-right: 1rem;
        cursor: pointer;
      }
    }
  }
}
