.menu-home {
  width: auto;
  padding: 0rem 0.5rem 0rem 0.5rem;

  &__head {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 94%;
    padding: 0rem 3% 0rem 3%;
    align-items: center;

    &__close {
      margin-right: 0.5rem;
    }

    &__title-company {
      display: flex;
      flex-direction: row;
      font-weight: bold;
      font-size: x-large;
      align-items: center;

      &__initial {
        color: var(--primary-main);
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1rem 1rem 1rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease, color 0.2s ease;
    border-radius: 4px;

    &__value {
      font-size: 16px;
    }

    &:hover {
      background-color: var(--Neutral-7);
      color: white;
    }

    &--selected {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      margin-bottom: 0.7rem;
      padding: 1rem 1rem 1rem 1.5rem;
      cursor: pointer;
      transition: background-color 0.2s ease, color 0.2s ease, color 0.2s ease;
      background-color: var(--primary-main);
      color: white;
      border-radius: 4px;
    }
  }
}

@media screen and (max-width: 800px) {
  .menu-home {
    &__head {
      width: 98%;
      padding: 0rem 1% 0rem 1%;
    }
    &__items {
      padding: 0.7rem 0.8rem 0.7rem 0.8rem;
      &--selected {
        padding: 0.7rem 0.8rem 0.7rem 0.8rem;
      }
    }
  }
}
