:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --primary-main: #6c63ff;
  --Secondary-1: #ebe8ff;
  --Secondary-2: #1b254a;
  --Secondary-2-2: #b2cffa;
  --Secondary-3: #78aaf5;
  --Secondary-4: #f4f9ff;
  --Secondary-6: #1063e1;
  --succes-green-7: #389e0d;
  --succes-green-6: #52c41a;
  --succes-green-2: #d9f7be;
  --warning-orange-6: #fa8c16;
  --warning-orange-7: #ffa940;
  --character-secondary-45: #00000073;
  --Neutral-5: #d9d9d9;
  --Neutral-2: #fafafa;
  --Neutral-4: #f8f8f8;
  --Neutral-7: #8c8c8c;
  --Neutral-6: #bfbfbf;
  --Neutral-8: #79747e;
  --divider-7: #f0f0f0;
  --divider-8: #b0b0b0;
  --error-red-6: #f5222d;
  --conditional-divider: #0000000f;
  --scroll: #bfbfbf;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 10px;
}

.scrollable-container {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll) transparent;
}

.scrollable-container {
  -ms-overflow-style: none;
}
